<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MindMetrics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>

    
    <nav class="navbar">
       
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
            

        </div>
        
        <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/proyecto">Proyecto</a></li>
            <li><a href="/dataset">Dataset</a></li>
            <li><a href="/analisis">Análisis</a></li>
            <li><a href="/kpis">KPIs</a></li>
            <li><a href="/modelo">Modelo IA</a></li>
        </ul>

        <div class="cta">
            <a href="/documentacion" class="btn">Documentación </a>
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
        
    </div>

    </body>
        <footer class="footer">

  <div class="footer-container">

    <div class="footer-about">
      <img src="{{ url_for('static', filename='img/logo.png') }}" class="footer-logo">

      <p>
        Investigación sobre el impacto de las redes sociales en la salud mental de adolescentes.
        Integrando análisis de datos, visualizaciones y modelos predictivos para fomentar
        el bienestar digital.
      </p>
    </div>

    <div class="footer-links">
      <h3>Secciones</h3>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/proyecto">Proyecto</a></li>
        <li><a href="/dataset">Dataset</a></li>
        <li><a href="/analisis">Análisis</a></li>
        <li><a href="/kpis">KPIs</a></li>
        <li><a href="/modelo">Modelo IA</a></li>
        <li><a href="/documentacion">Documentación</a></li>
      </ul>
    </div>

    <div class="footer-tech">
      <h3>Tecnologías</h3>
      <ul>
        <li>Python + Flask</li>
        <li>Power BI</li>
        <li>JavaScript (Fetch API)</li>
        <li>Machine Learning</li>
        <li>Análisis Estadístico</li>
      </ul>
    </div>

  </div>

  <!-- BOTTOM -->
  <div class="footer-bottom">
    <p>© 2026 Impacto de Redes Sociales en Salud Mental. Todos los derechos reservados.</p>
    <span>Proyecto académico · Ciencia de Datos</span>
  </div>

</footer>
</html>