{% extends 'base.html' %}

{% block content %}

<section class="hero">
<h1 class="hero-title">
    Impacto De Las <span class="highlight">Redes</span> <br>
    <span class="highlight">Sociales</span> <br>
    En La Salud Mental
</h1>

    <p>
        Analizando cómo las redes sociales afectan el bienestar emocional
        de los jóvenes a través de datos, visualizaciones y modelos predictivos.
    </p>

    <div style="margin-top: 20px;">
        <a href="/analisis" class="btn1">Explorar análisis </a>
        <a href="/proyecto" class="btntra">Sobre el proyecto</a>
    </div>
</section>
<section class="stats">
  <div class="stat-card">
    <i class="fas fa-user"></i>
    <h2>1,200+</h2>
    <p>Adolescentes estudiados</p>
  </div>

  <div class="stat-card">
    <i class="fas fa-clock"></i>
    <h2>6.4h</h2>
    <p>Promedio diario en redes</p>
  </div>

  <div class="stat-card">
    <i class="fas fa-lightbulb"></i>
    <h2>68%</h2>
    <p>Con ansiedad elevada</p>
  </div>

  <div class="stat-card">
    <i class="fas fa-moon"></i>
    <h2>5.8h</h2>
    <p>Sueño promedio</p>
  </div>
</section>
{% endblock %}